

<!-- <div *ngIf="loggedUser==undefined && logValue"> -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
        <a class="navbar-brand" routerLink="/">Home</a>
        <a class="navbar-brand" routerLink="/login"  *ngIf="router.url==='/' "> Login</a>
        <a class="navbar-brand" routerLink="/register " *ngIf="router.url==='/' || router.url==='/login'" >Register</a>
        <a  class="navbar-brand" routerLink="/raisePO" *ngIf="router.url==='/buyerPage' || router.url==='/raisePO'">raise Po</a>
        <a routerLink="/viewAllPo" routerLinkActive="active" *ngIf="router.url==='/sellerPage' || router.url==='/viewAllPo'">viewAllPo</a>
        <a class="navbar-brand" routerLink="/" *ngIf="router.url==='/buyerPage' || router.url==='/raisePO'">Logout</a>
        </nav>

        <!--sellers Page-->
<!-- </div> -->

<!-- <div class="container" *ngIf="logValue==true &&  loggedUser=='seller'">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" routerLink="login">SendPo</a>

        <a class="navbar-brand" routerLink="register">View Po</a>
        <a class="navbar-brand" routerLink="login">Logout</a>
        </nav>
</div>

  
<div class="container" *ngIf="logValue==true &&  loggedUser=='Vendor'">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" routerLink="login">View All Products</a>

        <a class="navbar-brand" routerLink="register">View All Available Products</a>
        <a class="navbar-brand" routerLink="login">Logout</a>
        </nav>

</div>
 -->
