<h1 style="text-decoration-color: aquamarine ; font-style: italic; font-family: 'Times New Roman', Times, serif; text-align: center;">Login Form </h1>
<form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
   

    <div class="form-group">
            {{LoginForm.value|json}}
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email"
            [class.is-invalid]="email.invalid && email.touched" placeholder="Enter your Email">
        <div *ngIf="email.invalid && email.touched">
            <small *ngIf="email.errors?.required" class="alert-danger">Name is required</small>

            <small *ngIf="email.errors?.minlength" class="alert-danger">Name should be >3</small>
            <small></small>
        </div>
    </div>
       


        <div class="form-group">

            <label>password</label>
            <input type="password" class="form-control" formControlName="userPassword" placeholder="Enter your Password">
        </div>

        <div class="form-group">

            
            <button type="submit" class="btn btn-primary">submit</button>
        </div>
</form>
