<p>view-all-po works!</p>

<h1>Welcome to Sellers Page</h1>

<table>
    <tr>
        <th>
    </tr>
    <tr *ngFor="let poObj of poArray">

<td>
{{poObj.poId}}
{{poObj.status}}
{{poObj.year}}

</td>

    </tr>

    </table>
    <table class="table table-hover"> 
            <thead class="thead-dark">
        <tr>
    
            <th>Purchase OrderId</th>
             <th>Purchase Order</th>
           <th>Purchase Order Date</th> 
        </tr>
        
    </thead>
        <tbody>
        <tr *ngFor="let prodObj of prodArr">
            <td>{{poObj.poId}}</td>
          <td>{{poObj.status}}</td>
            <td>{{poObj.year}}</td>
    
        </tr>
    
    </tbody>
    
    </table>
    


