

<!-- <nav class="navbar bg-light">
    <a class="navbar-brand" routerLink="raisePo" >Raise Purchase Order</a>
    <a class="navbar-brand" routerLink="viewAll" >View All</a>
    <a class="navbar-brand" routerLink="register" routerLinkActive="active">Register</a>
</nav>
    
    
    
    <ul>
   
        <a routerLink="raisePo">Raise PO</a>

    </ul> -->
<!-- <a href="raisePo ">link</a> -->

<!-- <nav>
        <a [routerLink]="['/raisePO']" routerLinkActive="active">Crisis Center</a>
        <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
      </nav> -->
     
     
     
      <ul>
          <li>
                <a [routerLink]="['/raisePO']" routerLinkActive="active">Raise PO</a>
          </li>
          
          <li>
                <a [routerLink]="['/viewAll']" routerLinkActive="active">View All</a>
          </li>
      </ul>